@font-face {
    font-family: circular;
    src: url(../../Fonts/Circular/CircularStd-Medium.otf);
}

body {
    margin-right: 120px;
    margin-left: 120px;
    font-family: circular;
    background-color: #541554;

  }