@font-face {
    font-family: circular;
    src: url(../../Fonts/Circular/CircularStd-Bold.otf);
}

body {
    margin-right: 70px; 
    margin-left: 70px; 
    font-family: circular;
    background-color: #541554;


  }